<?xml version="1.0"?>
<config>
    <modules>
        <CDrinks_AlternateHref>
            <version>0.1.0</version>
        </CDrinks_AlternateHref>
    </modules>
    <global>
        <blocks>
            <cdrinks_alternatehref>
                <class>CDrinks_AlternateHref_Block</class>
            </cdrinks_alternatehref>
            <adminhtml>
                <rewrite>
                    <cms_page_edit_tab_main>CDrinks_AlternateHref_Block_Cms_Page_Edit_Tab_Main</cms_page_edit_tab_main>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <cdrinks_alternatehref>
                <class>CDrinks_AlternateHref_Helper</class>
            </cdrinks_alternatehref>
        </helpers>
        <models>
            <cdrinks_alternatehref>
                <class>CDrinks_AlternateHref_Model</class>
                <resourceModel>braufaesschen_fulfillment_mysql4</resourceModel>
            </cdrinks_alternatehref>
        </models>
        <resources>
            <cdrinks_alternatehref_setup>
                <setup>
                    <module>CDrinks_AlternateHref</module>
                    <class>CDrinks_AlternateHref_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cdrinks_alternatehref_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <cdrinks_alternatehref>
                        <type>singleton</type>
                        <class>CDrinks_AlternateHref_Model_Observer</class>
                        <method>alternateLinks</method>
                    </cdrinks_alternatehref>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
</config>